# Cargo files
/target

# Test files
/testsamples/*.flac
/testsamples/*.ana
/testsamples/*.wav
/testsamples/extra/*.flac
/testsamples/extra/*.ana
/testsamples/extra/*.wav

# Except for small test samples that are included verbatim
!/testsamples/large_vendor_string.flac
!/testsamples/large_vorbis_comment_block.flac
!/testsamples/pop.flac
!/testsamples/repeated_vorbis_comment.flac
!/testsamples/short.flac
!/testsamples/wasted_bits.flac

# Editor files
*.swp
*.swo
